@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.authentication {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.form-box {
    height: 540px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 20px;
}

.form-title {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: #4494D9;
    font-weight: 400;
    font-size: 32px;
}

.input-group {
    margin: 25px 0;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.checkbox {
    margin: 10px 10px 10px 0;
}

label,
.change-form {
    font-family: 'Chivo', sans-serif;
    color: #6F6F6F;
    font-weight: 400px;
    font-size: 12px;
}

span {
    font-family: 'Chivo', sans-serif;
    color: #6F6F6F;
    font-weight: 400px;
    font-size: 12px;
    position: absolute;
    margin: 10px 0;
}

.error {
    width: 70%;
    font-family: 'Chivo', sans-serif;
    color: rgb(209, 19, 19);
    font-weight: 700px;
    font-size: 12px;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    font-family: 'Chivo', sans-serif;
    color: rgb(63, 148, 13);
    font-weight: 700px;
    font-size: 14px;
}

.submit-btn {
    width: 85%;
    display: block;
    margin: 10px auto;
    background-color: #4494D9;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Chivo', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #9bc6ec;
}

.change-form {
    text-align: center;
}

.form-social-icons {
    margin: 30px auto;
    text-align: center;
}

.form-social-icons img {
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
    color: #4494D9;
}

.close-btn:hover {
    color: #9bc6ec;
}

#login {
    left: 50px;
}

#signup {
    left: 50px;
}