@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: white;
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 80px;
    grid-template-columns: 250px 1430px;
}

img {
    display: block;
    width: 100%;
}

aside {
    display: block;
    height: 100vh;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);
}

aside .top {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

aside .profile {
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

aside .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

aside .close {
    display: none;
}

.top-mobile {
    display: none;
}

/*--Sidebar--*/

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 68vh;
    position: relative;
    top: 12%;
}

aside h3 {
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
}

aside .sidebar a {
    display: flex;
    color: #6F6F6F;
    margin: 16px 18px 0 18px;
    border-radius: 20px;
    gap: 8px;
    align-items: center;
    position: relative;
    height: 60px;
    transition: all 600ms ease, transform 0.2s ease;
}

aside .sidebar a svg {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    transition: all 600ms ease, transform 0.2s ease;
}

aside .sidebar a svg path {
    fill: #6F6F6F;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 32px;
    width: 85%;
}

aside .sidebar a.active {
    background: #4494D9;
    color: white;
}

aside .sidebar a:hover {
    background: #f0f0f0;
    transform: scale(1.05);
}

aside .sidebar a:active {
    transform: scale(0.90);
}

aside .sidebar a.active:hover {
    background: #4494D9;
    color: white;
}

aside .sidebar a.active svg path {
    fill: white;
}

aside .sidebar .message-count {
    font-family: 'Chivo', sans-serif;
    background: #4494D9;
    color: white;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 20px;
    margin-right: 16px;
}

aside .sidebar a.active .message-count {
    background-color: white;
    color: #4494D9;
}

/*--Main--*/

.main-menu {
    height: 100vh;
    width: 100vw;
}


@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 112px auto 368px;
    }

    aside .logo {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 90px;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 28px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: white;
        width: 200px;
        z-index: 3;
        box-shadow: 16px 64px 128px grey;
        height: 100vh;
        padding-right: 28px;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;
    }

    aside .top .profile {
        display: none;
    }

    aside .sidebar {
        top: 18%;
        height: 72vh;
        padding: 0 20px;
    }

    aside .sidebar a:last-child {
        position: absolute;
        
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    .top-mobile {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 20px;
        height: 72px;
        background: white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .top-mobile button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: black;
    }

    .top-mobile .profile {
        width: 60px;
        height: 60px;
    }
}