@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: white;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-settings {
    display: flex;
    width: 1536px;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

/*--Main--*/

main {
    height: 100vh;
    width: 100vw;
}

main .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 60px;
    width: 85%;
}

main .top .text h1,
h2 {
    font-family: 'Alfa Slab One', cursive;
}

main .top .text h1 {
    color: #6F6F6F;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 12px;
}

main .top .text h2 {
    color: #4494D9;
    font-weight: 400;
    font-size: 44px;
}

main .section {
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 95%;
    font-family: 'Chivo', sans-serif;
    color: #6F6F6F;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5%;
}

main .section .profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 30%;
}

main .section .profile .container-profile-name {
    font-family: 'Alfa Slab One', cursive;
    color: #4494D9;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}

main .section .profile .container-profile-name svg {
    width: 25px;
    height: 25px;
}

main .section .profile .container-profile-name svg path {
    fill: #4494D9;
}

main .section .profile .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    gap: 10px;
}

main .section .profile .container .container-picture h1 {
    font-size: 18px;
}

main .section .profile .container .container-picture .content-picture {
    display: flex;
    align-items: center;
    gap: 20px;
}

main .section .profile .container .container-picture .content-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main .section .profile .container .container-name h1 {
    padding: 0 5px;
    font-size: 18px;
}

main .section .profile .container .container-name .content-name {
    display: flex;
    align-items: center;
    gap: 20px;
}


main .section .account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 30%;
}

main .section .account .container-account-name {
    font-family: 'Alfa Slab One', cursive;
    color: #4494D9;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}

main .section .account .container-account-name svg {
    width: 25px;
    height: 25px;
}

main .section .account .container-account-name svg path {
    fill: #4494D9;
}

main .section .account .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    gap: 10px;
}

main .section .account .container .container-email h1 {
    font-size: 18px;
}

main .section .account .container .container-email .content-email {
    display: flex;
    align-items: center;
    gap: 20px;
}

main .section .account .container .container-email .content-email img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main .section .account .container .container-username h1 {
    padding: 0 5px;
    font-size: 18px;
}

main .section .account .container .container-username .content-username {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="file"] {
    display: none;
}

input[type="text"],
input[type="email"] {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    margin: 5px 0 0 0;
}

.custom-file-upload {
    border: none;
    color: #4494D9;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    display: flex;
    justify-content: center;
    background-color: #4494D9;
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    gap: 12px;
    margin-top: 5px;
    margin-bottom: 10px;

    font-family: 'Chivo', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 16px;

    transition: transform 0.2s ease;
}

.btn-primary:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.90);
}

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 112px auto 368px;
    }

    aside .logo {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 90px;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 28px;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 32px 0 0 140px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: white;
        width: 288px;
        z-index: 3;
        box-shadow: 16px 64px 128px grey;
        height: 100vh;
        padding-right: 28px;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 16px;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 54px;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 80px;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 128px;
        padding: 0 16px;
    }

    main .recent-order {
        position: relative;
        margin: 48px 0 0 0;
        width: 100%;
    }

    .right {
        width: 94%;
        margin: 0 auto 64px;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 10px;
        height: 72px;
        background: white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 16px 16px grey;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: #6F6F6F;
        position: absolute;
        left: 16px;
    }

    .right .top button span {
        font-size: 32px;
    }
}