@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: white;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-statistics {
    display: flex;
    width: 1536px;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

/*--Main--*/

main {
    height: 100vh;
    width: 100vw;
}

main .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 60px;
    width: 85%;
}

main .top .text h1,
h2 {
    font-family: 'Alfa Slab One', cursive;
}

main .top .text h1 {
    color: #6F6F6F;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 12px;
}

main .top .text h2 {
    color: #4494D9;
    font-weight: 400;
    font-size: 44px;
}

main .top .button {
    position: relative;
    width: 15%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

main .top .button svg {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    height: 20px;
    width: 20px;
}

main .top .button svg path {
    fill: #6F6F6F;
}

main .top .button .select {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    gap: 12px;
    margin-bottom: 10px;
    font-family: 'Chivo', sans-serif;
    color: #6F6F6F;
    font-weight: 400;
    font-size: 16px;
}

main .top .button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

main .month {
    display: flex;
    align-items: center;
    gap: 124px;
    cursor: grab;
    overflow-x: scroll;
    width: 100%;
    height: 8%;
    margin: 28px 0;
    user-select: none;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

main .month::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

main .month.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

main .month h3 {
    font-family: 'Alfa Slab One', cursive;
    color: #6F6F6F;
    font-weight: 400;
    font-size: 20px;
    z-index: 2;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

main .month h3.active {
    color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

main .month h3:hover {
    transform: scale(1.1);
}

main .month h3:active {
    transform: scale(0.89);
}

main .center {
    margin-bottom: 0;
    height: 764px;
}

main .center .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
    background-color: white;
    gap: 0;
}

main .center .container .no-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 26px;
    color: #6F6F6F;
}

main .center .container .no-statistics {
    height: 250px;
    width: 250px;
}

main .center .container .container-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    margin: 50px 0 0 60px;
    gap: 20px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400px;
    font-size: 18px;
    color: #4494D9;
}

main .center .container .container-left .statistics-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 75%;
    width: 100%;
    gap: 20px;
    overflow-y: scroll;
    cursor: grab;
    user-select: none;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

main .center .container .container-left .statistics-left::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


main .center .container .container-left .statistics-left .percentage-chart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .center .container .container-left .statistics-left .text {
    margin: 18px 0 0 0;
    font-family: 'Chivo', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.room-consumption {
    color: #6F6F6F;
    font-weight: 400;
}

main .center .container .container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-top: 50px;
    padding: 0;
    gap: 0;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400px;
    font-size: 18px;
    color: #4494D9;
}

main .center .container .container-right .title-month-year {
    padding: 0;
    margin: 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    color: #6F6F6F;
}

main .center .container .container-right .graph {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    margin: 0;
}

.graph .consumption-graph {
    width: 90%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 112px auto 368px;
    }

    aside .logo {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 90px;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 28px;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 32px 0 0 140px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: white;
        width: 288px;
        z-index: 3;
        box-shadow: 16px 64px 128px grey;
        height: 100vh;
        padding-right: 28px;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 16px;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 54px;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 80px;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 128px;
        padding: 0 16px;
    }

    main .recent-order {
        position: relative;
        margin: 48px 0 0 0;
        width: 100%;
    }

    .right {
        width: 94%;
        margin: 0 auto 64px;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 10px;
        height: 72px;
        background: white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 16px 16px grey;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: #6F6F6F;
        position: absolute;
        left: 16px;
    }

    .right .top button span {
        font-size: 32px;
    }
}